html {
    font-family: montserrat;
}

body {
    margin: 0px;
}



h1 {
    font-size: 52px;
}


h2 {
    font-size: 48px;
}



.topbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFD4D0;
    padding: 8px 12px;
}

nav {
    align-items: flex-end;
    padding-top: 20px;
}

.topbar nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: black;
}


.botton-talk {
    color: white;
    background-color: black;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
}

.botones {
    display: flex;
    margin-right: 25px; 
}


header {
    background-color: #FFD4D0;
    display: flex;;
}

header h1 {
    font-family: montserrat;
    font-size: 20px;
    font-weight: 400;
}

header h2 {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
}
header h2 span {
    color: #FC3314;
}



.hire-bottom {
    color: white;
    background-color: black;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid black;

}

.portfolio-bottom {
    color: black;
    background-color: white;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid black;
}




p {
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #1F1F1F;
}


.about-title{
    font-size: 36px;
    font-weight: 700;
}

.about-nums-text{
    font-size: 18px;
    font-weight: 700;
}

.about-nums-number{
    color: #FFD4D0;
    font-size: 64px;
    font-weight: 700;
}




/* ESTOS ELEMENTOS LOS ESTABLECES AL PRINCIPIO SIEMPRE
 html {
    font-family: Montserrat;
    font-size: 100%;
    font-weight: 400;
    color: hsl(0, 0, 12%);
    line-height: 1,5;
}


body {
    margin: 0;
}


h1 {
    font-size: 52px;
}


h2 {
    font-size: 48px;
}


h3 {

}


ul {
    list-style-type: none;
}

a {
    color: ...;
}


a:visited {
    color: ...;
}

//////////////////////////


.section-blog--backg(background) {
    background-color: black;
    color: white;
}


.main-nav {
    display: flex;
    background-color: color;
    align-items: center;
    padding: 8px 12px;
}

    .main-nav__item {
        color: hsl(0, 0, 12%);
        text-decoration: none; 
        font-weight: bold;
        font-size: 18px;


.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

    .topbar--bg-black {
        background-color: black;
        color: white;
        padding: 24px; 
    }


    .topbar__log img {
        max-width: 100px;
    }
    
    .topbar-nav {
        flex: 1;
        padding: 0;
        margin-botton: 0;
    }




*/